<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
       <div class="logo">
        <a class="nav-link text-white" aria-current="page" href="#">ToDoShare</a>
       </div>
        <a class="nav-link text-white" href="#">使い方</a>
        <a class="nav-link text-white" href="/users/sign_up">新規登録</a>
        <a class="nav-link text-white" href="/users/sign_in">ログイン</a>
      </div>
    </div>
  </div>
 </nav>
</header>
<footer>
 <div class="bg-dark text-white text-center p-3">
  Copyright Takumi Fujiwara ,2021 All Rights Reserved.
 </div>
</footer>

