<% @boards.each do |tweet|%>
<div class="card mb-1">
<div class="card-body">
    <p class="card-text"><%= tweet.title %></p>
    <%= link_to "詳細へ", tweet_path(tweet.id) %>
    <% if user_signed_in? && current_user.id == tweet.user_id %> 
    <%= button_to "削除する", tweet_path(tweet.id), method: :delete %>
    <% end %> 
  </div>
</div>
<% end %>