<% @boards.each do |tweet|%>
<div class="card mb-1">
  <div class="card-body">
    <% if @tweet.completed=0%>
    <p class="card-text">開始前</p>
    <% elsif @tweet.completed=1 %>
    <p class="card-text">進行中</p>
    <% elsif @tweet.completed=2 %>
    <p class="card-text">終了</p>
    <% end %>
    <p class="card-text"><%= tweet.title %></p>
    <%= link_to tweet_path(tweet) do %>
    <i class="fas fa-search"></i>
    <% end %>
    <% if current_user == tweet.user %>
    <%= link_to tweet_path(tweet.id), method: :delete do %>
    <i class="fas fa-trash"></i>
    <% end %>
    <% end %>
  </div>
</div>
<% end %>