// Place all the styles related to the hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/*
 *= require_self
 *= require_tree .
 */
/*ここに調整CSS記述*/

header{
  height: 5vh;
}
main {  
  .menu2{ 
    background-image:url(lightblue_00052.jpg); 
    background-size: cover;
    height: 90vh}
  }
footer{
  height: 5vh;
}